@import "tailwindcss";

body {
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  color: #0b132b;
}

h1,
h2,
h3,
.font-display {
  font-family: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}
